doctype html
html
  head
    script function post_blue_eyes(){ window.location.assign("http://www.w3schools.com");}
    title Welcome to the Ninja Web App, by Francisco Medina S
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content